

@import url(https://fonts.googleapis.com/css?family=Paprika);

:root {
  --col-fg: 45,85,170;
  --col-bg: 10,10,10
}

* {
  -webkit-font-smoothing: antialiased;
}
.bname {
  position: absolute;
  top: 1%;
  right: 1%;
  font-variant: all-small-caps;
  letter-spacing: 2px;
  color: rgb(var(--col-fg));
  font-family: system-ui;
  font-weight: 600;
  font-size: 13px;
  margin: 0;
}

body {
  margin:0;
  overflow:hidden;
  background-color: rgb(var(--col-bg));
  /* height: 100vh; */
  display: grid;
  place-items: center;
  
}

.title {
  color: white;
  font-family: 'Paprika';
  font-size: 80px;
  margin-bottom: 0;
  text-align: center;
}

.sub {
  font-variant: all-small-caps;
  letter-spacing: 8px;
  font-family: sans-serif;
  font-size: 13px;
  margin: 0;
  margin-bottom: 30px;
}

#blob-wrapper {
  height: 100%;
  Width: 100%;
  
  position: fixed;
  bottom: 0;
  
  overflow: hidden;
  pointer-events: none;
}

#background-waves {
  width:100vw;
  height:600px;
  display: block;
    position: fixed;
    bottom: 0;
}

use {
  animation:move-background-waves 12s linear infinite;
  fill: rgb(var(--col-fg));
}

.blob {
  position: absolute;
  left: calc(50%);
  width: 500px;
  height: 200px;
  top: 100%;
  
  animation: wave-rise 1s ease-in-out infinite;
}

.blob path {
  fill: rgb(var(--col-fg));
}


@keyframes wave-rise {
  from, to {
    transform: translateY(0%);
  }
  30% {
    transform: translateY(-70%);
  }
}

@keyframes move-background-waves {
   0% {
     transform: translate(-2px , 0)
   }
 100% {
   transform: translate( 0px , 0)
  } 
}



.ui-widget-content {
  text-align: center;
}


.row-container{
  display:flex;
  flex-direction:row;
}

.card-body {
  width: 1000px;
  height: auto;
}

.card-img-top {
  height: 150px;
  width: auto;
}